/*global properties*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* ─ Color Library ────────────────────────────────── */
:root {
  --logo: #4e7524;
  --icon: #00a0cd;
  --link: #2950a6;
  --white: #ffffff;
  --grey-accent: #dbdbdb;
  --close-btn: rgb(255, 77, 77);
  --report-btn: rgb(255, 186, 58);
  --submit-btn: rgb(74, 255, 74);
}

/* ─ Body Configuration ────────────────────────────────── */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "DM sans", sans-serif;
  background-color: var(--white);
}

/* ─ Header ────────────────────────────────── */
body>.header h2 {
  color: var(--logo);
  font-weight: 100;
  font-family: fantasy;
}

body>.header * {
  margin: 5px;
}

/*header with side bar icon, project logo, and user icon*/
.header {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5),
    inset 0 2px 0 rgba(255, 255, 255, 0.15),
    inset 0 -2px 4px rgba(0, 0, 0, 0.2);
}

/*user icon*/
.header .user-icon {
  margin-left: auto;
  cursor: pointer;
  color: #00a0cd;
}

/* ─ Footer ────────────────────────────────── */

body>.footer {
  position: fixed;
  right: 15px;
  bottom: 5px;
  display: flex;
  cursor: pointer;
  color: var(--icon);
}