/*Font*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  box-sizing: border-box;
  font-family: "DM sans", sans-serif;
  margin: 5px;
}



/*header with side bar icon, project logo, and user icon*/
.header {
  display: flex;
  flex-direction: row;
}


/*!--project logo*/
.header h2 {
  margin-left: 10px;
  color: #4e7524;
  font-weight: 100;
  font-family: fantasy;
}

/*user icon*/
.header .user-icon {
  margin-left: auto;
}

.user-icon svg {
  cursor: pointer;
  color: #00a0cd;
}

/*contains everything froim the Welcome sign to the Register here link*/
.form-container {
  position: relative;
  background-color: white;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.form-container * {
  margin: 0;
}

/*Welcome to MiLuzPR text*/
.form-header .welcome {
  margin-top: 60px;
  color: #4e7524;
  font-weight: 800;
}

/*Sign in text*/
.form-header .sign-in {
  font-size: 32px;
  margin-top: 20px;
}

/*contains everything from the username input box to the Register here link*/
.form-box {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  width: auto;
  gap: 47px;
}

.input-field {
  height: 48px;
  padding-inline: 14px;
  border: 1px solid grey;
  border-radius: 6px;
  width: 100%;
  outline: none;
}

.input-field:focus {
  border-color: #71bd2a;
}

.password-group {
  position: relative;
  display: flex;
}

.eye-icon {
  position: absolute;
  right: 15px;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
}

.eye-icon svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: grey;
}

.form-link {
  text-decoration: none;
  color: inherit;
}


/*sign in button*/
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 47px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #17214c;
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: background-color .3s ease;
  width: 100%;
}

/*forgot [blank]? links*/
.forgot {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  font-size: 14px;
  color: #2950a6;
  text-align: left;
}

/*register link*/
.register {
  text-align: center;
  margin-top: 45px;
  color: #2950a6;
  font-size: 14px;
}

.footer {
  position: fixed;
  right: 15px;
  bottom: 5px;
  display: flex;
}

.language svg {
  cursor: pointer;
  color: #00a0cd;
}