/*establishes the overall architecture of the page*/
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*header with side bar icon, project logo, and user icon*/
.header {
  display: flex;
  flex-direction: row;
}

/*project logo*/
.header h2 {
  margin-left: 10px;
  color: #4e7524;
  font-weight: 100;
  font-family: fantasy;
}

/*user icon*/
.header .user-icon {
  margin-left: auto;
  cursor: pointer;
  color: #00a0cd;
}

/*every element inside the header gets a 5px margin*/
.header * {
  margin: 5px;
}

/*map-container takes up the remaining space in body*/
.map-container {
  flex: 1;
}

/*map fills up that remaining space*/
#map {
  height: 100%;
}

.popup-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 6px;
}

.popup-footer svg {
  width: 20px;
  height: 20px;
  color: red;
  cursor: pointer;
}