/* ─ Map Configuration ────────────────────────────────── */

/*map-container takes up the remaining space in body*/
.map-container {
  flex: 1;
}

/*map fills up that remaining space*/
#map {
  height: 100%;
}

.popup-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 6px;
}

/*report icon parameters*/
.popup-footer svg {
  width: 20px;
  height: 20px;
  color: red;
  cursor: pointer;
}