/*global properties*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* ─ Color Library ────────────────────────────────── */
:root {
  --logo: #4e7524;
  --icon: #00a0cd;
  --link: #2950a6;
  --white: #ffffff;
  --grey-accent: #dbdbdb;
  --close-btn: rgb(255, 77, 77);
  --report-btn: rgb(255, 186, 58);
  --submit-btn: rgb(74, 255, 74);
}

/* ─ Body Configuration ────────────────────────────────── */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "DM sans", sans-serif;
  background-color: var(--white);
}

/* Header Blip */
.page-header {

  /* positioning */
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9999;

  /* shaping */
  width: 120px;
  height: 50px;
  border-radius: 100px;
  gap: 30px;

  /* alignment */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;

  /* coloring */
  background: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5),
    inset 0 2px 0 rgba(255, 255, 255, 0.15),
    inset 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.create-blip {

  /* positioning */
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 9999;


  /* shaping */
  width: 50px;
  height: 50px;
  border-radius: 100px;

  /* alignment */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;

  /* coloring */
  background: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5),
    inset 0 2px 0 rgba(255, 255, 255, 0.15),
    inset 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.create-blip * {
  margin-top: 2px
}

/*user icon*/
.page-header .user-icon {
  cursor: pointer;
  color: #00a0cd;
}